
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        @if (ViewData["name"].ToString() == "Sky")
        {
            ViewData["name"] = "Bob22";
            <span>is Bob</span>
            
        }
        
        @ViewData["name"]

        <h1>Hello World</h1>
        <form method="post">
            <input type="text" name="name" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
